html
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/messageAesthetics.css')
    title SET08101 - Web Technology Assessment 2 - message
  body(style='background-color:#FED3CC;')
    h1
      span(style='color: red;') M
      span(style='color: indigo;') e
      span(style='color: blue;') s
      span(style='color: green;') s
      span(style='color: orange;') a
      span(style='color: yellow;') g
      span(style='color: purple;') e
    p#p1 To (email):
    p#p2 Subject:
    form(action='/message', method='POST')
      textarea#email3(rows='1', name='email3', cols='30', autofocus='')
      textarea#subject(rows='1', name='subject', cols='30', autofocus='')
      input#signupButton(type='submit' name='signupButton')
    h2=message
